****Team Members : Nurullah ÇALKA,Elif Beyza GÖKDEMİR,Deniz KESER,Mert Can TAŞ,Yaren Su SAATÇI,Hasan YILDIZ ****



**Bu ödevde, veri seti üzerinde detaylı bir inceleme yapmanız bekleniyor.
Öncelikle verilen veri setini dikkatle inceleyerek columnların ne ifade ettiğini kendi ifadeleriniz ile açıklayın. 
Veri setleri her zaman detaylı açıklamalar ile gelmeyebilir, bu durumlarda sorumluluk almalı ve veriyi yorumlama becerisine sahip olmalısınız.
Bu nedenle description kısmı boş olarak gelen feature'lar için de tahminde bulunmanızı bekliyorum.**

Örneğin: 
    
- age(integer) -> tabloda yer alan kişilerin yaş bilgisi
- workclass(..) -> ...


Veri bu notebook üzerinde import edilmiş halde bulunuyor. csv dosyasını DataFrame içerisine okuduktan sonra üzerinde gerekli gördüğünüz çalışmaları yapabilirsiniz. 

Aşağıdaki sorulara cevap bulmanızı bekliyorum.

> İncelemek için, Data Source : [Here](https://archive.ics.uci.edu/dataset/2/adult)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/kaggle/input/adultdata/adult.data.csv')
df.head(20)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K

> ----------------------------------------------------------------------------------------------------------------

education## Beginner Level Questions

**Veri kümesinde kaç birey bulunmaktadır?**

In [3]:
#Shape ile toplam row sayımızı alıyoruz..
df.shape[0]

32561

**Bireylerin yaş dağılımı nedir?**

In [4]:
df['age'].value_counts()

age
36    898
31    888
34    886
23    877
35    876
     ...
83      6
88      3
85      3
86      1
87      1
Name: count, Length: 73, dtype: int64

**Hangi çalışma sınıfında en fazla birey bulunmaktadır?**

In [5]:
df['workclass'].value_counts().idxmax()

'Private'

**50K'nın üzerinde maaş alan kaç birey vardır?**

In [6]:
df[df['salary']== '>50K'].shape[0]

7841

**50K'nın üzerinde ve altında maaş alan bireylerin ortalama yaşı nedir?**

In [7]:
df[df['salary']== '>50K']['age'].mean()

44.24984058155847

In [8]:
df[df['salary']== '<=50K']['age'].mean()

36.78373786407767

**Bireyler tarafından elde edilen en yaygın eğitim seviyesi nedir?**

In [9]:
df['education'].value_counts().idxmax()

'HS-grad'

**Haftada 40 saatten fazla çalışan kaç birey vardır?**

In [10]:
df[df['hours-per-week']>40].shape[0]

9581

**Her cinsiyetten kaç birey bulunmaktadır?**

In [11]:
df['sex'].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**Kadınların yaş ortalaması nedir?**

In [12]:
df[df['sex']=='Female']['age'].mean()

36.85823043357163

**Alman vatandaşlarının yüzdesi nedir?**

In [13]:
total=df['native-country'].shape[0]
alman=df[df['native-country']=='Germany'].shape[0]
yuzde=(alman/total)*100
yuzde

0.42074874850281013

**Yıllık 50 binden fazla kazanan insanların yaşlarının ortalaması ve standart sapması nedir?**

In [14]:
ortalama=df[df['salary']== '>50K']['age'].mean() #
s_sapma=df[df['salary']== '>50K']['age'].std()  #
print("Ortalama: ",ortalama)
print("Standart Sapma: ",s_sapma)

Ortalama:  44.24984058155847
Standart Sapma:  10.519027719851826

**50 binden fazla kazananlar en az lise eğitimi almıştır diyebilir miyiz?**
> (education feature seti içerisinde Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters ve Doctorate özelliğine sahip olanlar)

In [15]:
(df.groupby(by=['education'])['salary']).value_counts()
# Lise öncesinde 50K kazanan olduğu için diyemeyiz.

education     salary
10th          <=50K      871
              >50K        62
11th          <=50K     1115
              >50K        60
12th          <=50K      400
              >50K        33
1st-4th       <=50K      162
              >50K         6
5th-6th       <=50K      317
              >50K        16
7th-8th       <=50K      606
              >50K        40
9th           <=50K      487
              >50K        27
Assoc-acdm    <=50K      802
              >50K       265
Assoc-voc     <=50K     1021
              >50K       361
Bachelors     <=50K     3134
              >50K      2221
Doctorate     >50K       306
              <=50K      107
HS-grad       <=50K     8826
              >50K      1675
Masters       >50K       959
              <=50K      764
Preschool     <=50K       51
Prof-school   >50K       423
              <=50K      153
Some-college  <=50K     5904
              >50K      1387
Name: count, dtype: int64

**Amer-Indian-Eskimo ırkındaki erkeklerin maksimum yaşını bulun.**

In [16]:
df[(df['race']=='Amer-Indian-Eskimo')&(df['sex']=='Male')]['age'].max()

82

**50 binden fazla kazanan erkeklerin evli/bekar olma oranı nedir?**
> Married ifadesi ile başlayan feature'ları evli, kalanları ise bekar olarak kabul edin.

In [17]:
evli=df[(df['salary']== '>50K') &(df['sex']=='Male') & (df['marital-status'].str.startswith('Married'))].shape[0]
medeni_hal=df[(df['salary']== '>50K') &(df['sex']=='Male')]['marital-status'].shape[0]
print(evli,"",medeni_hal)

5965  6662

In [18]:
bekar= medeni_hal-evli
print('bekar:',bekar)

print(bekar/medeni_hal)
print(evli/medeni_hal)

bekar: 697
0.10462323626538576
0.8953767637346143

**Bir kişinin haftada maksimum kaç saat çalıştığını bulun. Kaç kişi bu kadar saat çalışıyor ve bunlar arasında çok kazananların oranı nedir?**

In [19]:
mhw=df['hours-per-week'].max()
n_maxhw = (df['hours-per-week'] == mhw).sum()
high_earners = df["salary"]=='>50K'
n_high_earners = (high_earners & (df['hours-per-week'] == mhw)).sum()
print(mhw)
print(n_maxhw)
print(n_high_earners)

99
85
25

**Her ülke için az ve çok kazananların ortalama çalışma süresini hesaplayın.** (crosstab kullanabilirsiniz)

In [20]:
# Az kazananları belirleyin.
low_earners = df["salary"]== '<=50K'

# Çok kazananları belirleyin.
high_earners = df["salary"]== '>50K'

cross_tab = pd.crosstab(index=df['native-country'], columns=df['salary'], values=df['hours-per-week'], aggfunc='mean')
print(cross_tab)

salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000

## Intermediate Level Questions

**Farklı çalışma sınıfı(workclass) kategorileri arasında eğitim yılı (education-num) ortalaması nedir?**

In [21]:
crosstab = df.groupby(["workclass"]).agg({"education-num": "mean"})
print(crosstab)

                  education-num
workclass
?                      9.260349
Federal-gov           10.973958
Local-gov             11.042045
Never-worked           7.428571
Private                9.879714
Self-emp-inc          11.137097
Self-emp-not-inc      10.226289
State-gov             11.375963
Without-pay            9.071429

**Hangi meslek en yüksek ortalama maaşa sahiptir?**

In [22]:
df[df['salary'] == '>50K']['occupation'].value_counts().idxmax()

'Exec-managerial'

**Cinsiyete göre haftalık çalışma saatleri arasında önemli farklar var mı?**

In [23]:
crosstab = df.groupby(["sex"]).agg({"hours-per-week": "mean"})
print(crosstab)
# Erkekler ortalama 6 saat daha fazla çalışıyordur.

        hours-per-week
sex
Female       36.410361
Male         42.428086

**Maaşları 50K'nın üzerinde ve altında olanlar için medeni durum dağılımı nasıl değişiyor?**

In [24]:
 df.groupby(["salary"])["marital-status"].value_counts()

salary  marital-status
<=50K   Never-married            10192
        Married-civ-spouse        8284
        Divorced                  3980
        Separated                  959
        Widowed                    908
        Married-spouse-absent      384
        Married-AF-spouse           13
>50K    Married-civ-spouse        6692
        Never-married              491
        Divorced                   463
        Widowed                     85
        Separated                   66
        Married-spouse-absent       34
        Married-AF-spouse           10
Name: count, dtype: int64

**Her ilişki türü için ortalama yaş nedir?**

In [25]:
 df.groupby(["relationship"])["age"].mean()

relationship
Husband           43.818616
Not-in-family     38.346057
Other-relative    33.164118
Own-child         24.827940
Unmarried         40.293964
Wife              39.846301
Name: age, dtype: float64

**Hangi ülkede en yüksek ortalama sermaye kazancı(capital gain) vardır?**

In [26]:
 df.groupby(["native-country"])["capital-gain"].mean().idxmax()

'India'

**Doktora seviyesinde eğitime sahip bireyler arasında ırk dağılımı nasıl değişir?**

In [27]:
df[df["education"]=='Doctorate']["race"].value_counts()

race
White                 369
Asian-Pac-Islander     28
Black                  11
Amer-Indian-Eskimo      3
Other                   2
Name: count, dtype: int64

**Asla çalışmamış (workclass: Never-worked) bireylerin farklı eğitim seviyeleri arasındaki oranı nedir?**

In [28]:
occ =  df[(df['workclass'] == 'Never-worked')]['education'].value_counts()
toplam =  df.groupby(df['workclass'])['education'].value_counts()
print(occ/toplam)

workclass    education
?            HS-grad         0.001880
             Some-college    0.003891
             Bachelors            NaN
             11th            0.008475
             10th            0.020000
                               ...
State-gov    Preschool            NaN
Without-pay  HS-grad         0.111111
             Some-college    0.666667
             7th-8th         1.000000
             Assoc-acdm           NaN
Name: count, Length: 117, dtype: float64

## Upper-intermediate Level Questions

**Erkekler ve kadınlar arasında sermaye kazancı ve sermaye kaybı ortalamasını karşılaştırın.**

In [29]:
 gain=df.groupby(["sex"])["capital-gain"].mean()
 loss=df.groupby(["sex"])["capital-loss"].mean()

print('Kazanç' ,gain)
print('Kayıp' ,loss)

# Erkekler daha çok kazanıyor ve daha fazla kaybediyor.

Kazanç sex
Female     568.410547
Male      1329.370078
Name: capital-gain, dtype: float64
Kayıp sex
Female     61.187633
Male      100.213309
Name: capital-loss, dtype: float64

**Her ırk için yaş dağılımı nedir?**

In [30]:
 df.groupby(["race"])["age"].describe()

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

**Eğitim seviyelerine göre çalışma saatlerinin dağılımı nasıldır?**

In [31]:
 df.groupby(["education"])["hours-per-week"].describe()

                count       mean        std   min   25%   50%   75%   max
education
10th            933.0  37.052519  13.788112   1.0  30.0  40.0  40.0  99.0
11th           1175.0  33.925957  13.965416   2.0  20.0  40.0  40.0  99.0
12th            433.0  35.780600  12.626412   6.0  30.0  40.0  40.0  99.0
1st-4th         168.0  38.255952  12.848727   4.0  35.0  40.0  40.0  96.0
5th-6th         333.0  38.897898  10.551727   3.0  40.0  40.0  40.0  84.0
7th-8th         646.0  39.366873  14.201870   2.0  35.0  40.0  40.0  99.0
9th             514.0  38.044747  11.064402   1.0  36.0  40.0  40.0  99.0
Assoc-acdm     1067.0  40.504217  12.196666   1.0  40.0  40.0  45.0  99.0
Assoc-voc      1382.0  41.610709  10.793384   1.0  40.0  40.0  45.0  99.0
Bachelors      5355.0  42.614006  11.446185   2.0  40.0  40.0  50.0  99.0
Doctorate       413.0  46.973366  15.084447   1.0  40.0  45.0  55.0  99.0
HS-grad       10501.0  40.575374  11.333757   1.0  40.0  40.0  42.0  99.0
Masters        1723.0  43.836332  12.277801   1.0  40.0  40.0  50.0  99.0
Preschool        51.0  36.647059  12.555196  10.0  30.0  40.0  40.0  75.0
Prof-school     576.0  47.425347  14.806038   2.0  40.0  48.0  55.0  99.0
Some-college   7291.0  38.852284  12.761901   1.0  35.0  40.0  43.0  99.0

**Her medeni durum için en yaygın meslek nedir?**

In [32]:
df.groupby('marital-status')['occupation'].agg(lambda x: x.value_counts().index[0])
    
#df[df["education"]=='Doctorate']["race"].value_counts()

marital-status
Divorced                  Adm-clerical
Married-AF-spouse         Adm-clerical
Married-civ-spouse        Craft-repair
Married-spouse-absent    Other-service
Never-married            Other-service
Separated                Other-service
Widowed                  Other-service
Name: occupation, dtype: object

**50K'nın altında maaş alanlar arasında en yaygın ilişki durumu nedir?**

In [33]:
df[df['salary']=='<=50K']['relationship'].value_counts().idxmax()

'Not-in-family'

**Hangi ülke, workclass = Self-emp-inc olarak en yüksek orana sahiptir?**

In [34]:
#df[('native-country')['workclass']=='Self-emp-inc'.agg(lambda x: x.value_counts().index[0])]
selfemp=df[df['workclass']=='Self-emp-inc']
enyuksekulke=selfemp['native-country'].value_counts().idxmax()
enyuksekulke

'United-States'

**Yönetici(Exec-managerial) rolündeki bireyler daha yüksek sermaye kazançlarına sahip olma olasılığında daha mıdır?**

In [35]:
Exec=df[(df['occupation']=='Exec-managerial')]['capital-gain'].mean()

genel=df.groupby(df['occupation'])['capital-gain'].mean()
print("Exec in ortalaması",Exec,genel)
# Genel olarak daha fazla alıyor.

Exec in ortalaması 2262.7729955730447 occupation
?                     604.491047
Adm-clerical          495.954907
Armed-Forces            0.000000
Craft-repair          649.512808
Exec-managerial      2262.772996
Farming-fishing       589.726358
Handlers-cleaners     257.572993
Machine-op-inspct     328.689311
Other-service         191.301669
Priv-house-serv       279.852349
Prof-specialty       2726.699517
Protective-serv       708.098613
Sales                1319.829315
Tech-support          673.552802
Transport-moving      490.323732
Name: capital-gain, dtype: float64